* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Questrial", sans-serif;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: #0b0016;
    overflow-x: hidden;
}

#principal {
    height: 50vh;
    background-image: url(h1_hero1.jpg);
    background-size: 40%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 45%);
    background-blend-mode: multiply;
}

/* BARRA DE NAVEGAÇÂO */
header>img {
    margin-left: 16%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    vertical-align: middle;
}

.telefone {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 40%;
}

#check {
    height: 10%;
    width: 1.5%;
    left: 0;
    margin-left: 84.35%;
    top: 10px;
    position: absolute;
    opacity: 0;
}

#check:checked {
    z-index: 99;
}

#check:checked~aside {
    right: 0;
}

#menu {
    list-style: none;
}

.btn_free {
    transition: 0.5s;
    background-color: #d6a04c;
    padding: 14px 24px;
    color: white;
    text-decoration: none;
    margin-left: 2%;
    text-decoration: none;
    border: solid #d6a04c 1px;
}

.btn_free:hover {
    background-color: transparent;
    border: solid #d6a04c 1px;
    color: #d6a04c;
}

svg {
    display: inline-block;
    position: relative;
    fill: white;
    width: 30%;
    top: 5%;
}

aside {
    background-color: #111111;
    width: 335px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -400px;
    transition: 0.5s;
    z-index: 98;
}

#menu {
    width: 2%;
    margin-left: 2%;
    position: relative;
    height: 25px;
    display: inline-block;
}

#menu_interno {
    padding-top: 50%;
    text-align: center;
}

.click_menu {
    text-decoration: none;
    font-size: 20px;
    display: block;
    height: 60px;
    line-height: 60px;
}

#menu>span {
    border: solid white 1px;
    display: inline-block;
    width: 90%;
}

/* BARRA DE NAVEGAÇÂO */

#selecionar>#home {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 21.5%;
}

#selecionar>i {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 24.5%;
}

#selecionar>#services {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 25.5%;
}

#principal>h2 {
    position: absolute;
    display: inline-block;
    font-size: 50px;
    left: 21.5%;
    top: 25%;
}

#titulo2 {
    color: #fff;
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    display: block;
    position: relative;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 16%;
}

#blog1 {
    display: inline-block;
    position: relative;
    left: 16%;
    transition: 0.6s;
    top: 0;
}

#inf_blog1 {
    margin-top: 4%;
}

#titulo_blog1 {
    transition: 0.6s;
    font-size: 32px;
}

#SubTitulo_blog1 {
    font-size: 14px;
    margin-top: 14px;
}

#blog2 {
    display: inline-block;
    position: relative;
    left: 17%;
    top: 0;
    transition: 0.6s;
}

#inf_blog2 {
    transition: 0.6s;
    margin-top: 4%;
}

#titulo_blog2 {
    font-size: 32px;
}

#SubTitulo_blog2 {
    font-size: 14px;
    margin-top: 14px;
}

#blog3 {
    display: inline-block;
    position: relative;
    left: 18%;
    top: 0;
    transition: 0.6s;
}

#inf_blog3 {
    transition: 0.6s;
    margin-top: 4%;
}

#titulo_blog3 {
    font-size: 32px;
}

#SubTitulo_blog3 {
    font-size: 14px;
    margin-top: 14px;
}

.btn_blog {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    left: 42%;
    top: 35%;
    opacity: 0;
    transition: 0.6s;
}

.icon_arrow {
    position: relative;
    width: 30%;
    top: 35%;
    left: 35%;
    transition: 0.2s;
}

#blog1:hover {
    top: 30px;

    .btn_blog {
        opacity: 1;
    }

    #titulo_blog1 {
        color: #d6a04c;
    }
}


#blog2:hover {
    top: 30px;

    #titulo_blog2 {
        color: #d6a04c;
    }

    .btn_blog {
        opacity: 1;
    }
}



#blog3:hover {
    top: 30px;

    #titulo_blog3 {
        color: #d6a04c;
    }

    .btn_blog {
        opacity: 1;
    }
}

#rodape {
    margin-top: 6%;
    position: absolute;
    background-color: #1e1e1e;
    border: #1e1e1e solid 1px;
    width: 100%;
    height: 56%;
}

#logo_rodape {
    display: inline-block;
    position: absolute;
    margin-top: 7%;
    margin-left: 16.2%;
}

#bloco1_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 27%;
    font-size: 20px;
}

.links1 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 40%;
    list-style: none;
    text-decoration: none;
}

.links2 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 48%;
    list-style: none;
}

.links3 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 56%;
    list-style: none;
}

.links4 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 64%;
    list-style: none;
}

#bloco2_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 40%;
    font-size: 20px;
}

.links5 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 40%;
    list-style: none;
}

.links6 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 48%;
    list-style: none;
}

.links7 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 56%;
    list-style: none;
}

#bloco3_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 62%;
    font-size: 20px;
}

#bloco3_rodape>p {
    display: inline-block;
    position: absolute;
    left: 62%;
    top: 37%;
    font-family: "Questrial", sans-serif;
    color: #545454;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;

}

#bloco3_rodape>input {
    display: inline-block;
    position: absolute;
    width: 18%;
    height: 60px;
    padding: 10px 20px;
    border: 0;
    border-radius: 6px 0px 0px 6px;
    color: #5C6168;
    background: #fff;
    left: 62%;
    top: 48%;
    z-index: 99;
}

#bloco3_rodape>button {
    position: absolute;
    border: 0;
    cursor: pointer;
    padding: 30px 40px;
    line-height: 1;
    border-radius: 0 6px 6px 0;
    background: #D6A04C;
    left: 80%;
    top: 48%;
}

#bloco3_rodape>button>img {
    display: inline-block;
    position: absolute;
    left: 38%;
    top: 35%;
}

#facebook {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 62%;
    transition: 0.5s ease-in-out;
}

#facebook:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#instagram {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 65%;
    transition: 0.5s ease-in-out;
}

#instagram:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#linkedin {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 68%;
    transition: 0.5s ease-in-out;
}

#linkedin:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#youtube {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 71%;
    transition: 0.5s ease-in-out;
}

#youtube:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#facebook_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 6%;
    border-radius: 50%;
    top: 77%;
    left: 27%;
    transition: 0.5s ease-in-out;
}

#facebook_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#instagram_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 6%;
    border-radius: 50%;
    top: 77%;
    left: 39%;
    transition: 0.5s ease-in-out;
}

#instagram_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#linkedin_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 6%;
    border-radius: 50%;
    top: 77%;
    left: 51%;
    transition: 0.5s ease-in-out;
}

#linkedin_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#youtube_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 5%;
    border-radius: 50%;
    top: 77%;
    left: 63%;
    transition: 0.5s ease-in-out;
}

#youtube_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}