* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Questrial", sans-serif;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: #0b0016;
    overflow-x: hidden;
}

#principal {
    height: 50vh;
    background-image: url(h1_hero1.jpg);
    background-size: 40%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 45%);
    background-blend-mode: multiply;
}

/* BARRA DE NAVEGAÇÂO */
header>img {
    margin-left: 16%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    vertical-align: middle;
}

.telefone {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 40%;
}

#check {
    height: 10%;
    width: 1.5%;
    left: 0;
    margin-left: 84.35%;
    top: 10px;
    position: absolute;
    opacity: 0;
}

 svg {
     display: inline-block;
     position: relative;
     fill: white;
     width: 30%;
     top: 5%;
 }

#check:checked {
    z-index: 99;
}

#check:checked~aside {
    right: 0;
}

#menu {
    list-style: none;
}

.btn_free {
    transition: 0.5s;
    background-color: #d6a04c;
    padding: 14px 24px;
    color: white;
    text-decoration: none;
    margin-left: 2%;
    text-decoration: none;
    border: solid #d6a04c 1px;
}

.btn_free:hover {
    background-color: transparent;
    border: solid #d6a04c 1px;
    color: #d6a04c;
}

aside {
    background-color: #111111;
    width: 335px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -400px;
    transition: 0.5s;
    z-index: 98;
}

#menu {
    width: 2%;
    margin-left: 2%;
    position: relative;
    height: 25px;
    display: inline-block;
}

#menu>span {
    border: solid white 1px;
    display: inline-block;
    width: 90%;
}

#menu_interno {
    padding-top: 50%;
    text-align: center;
}

 .click_menu {
     display: inline-block;
     text-decoration: none;
     font-size: 20px;
     display: block;
     height: 60px;
     line-height: 60px;
 }

/* BARRA DE NAVEGAÇÂO */

#selecionar>#home {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 21.5%;
}

#selecionar>i {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 24.5%;
}

#selecionar>#projects {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 25.5%;
}

#principal>h2 {
    position: absolute;
    display: inline-block;
    font-size: 50px;
    left: 21.5%;
    top: 25%;
}

#project {
    display: block;
    position: absolute;
    background-color: #1e1e1e;
    width: 100%;
    height: 97%;
}

#inf_projects {
    display: inline-block;
    position: relative;
    background-color: #d6a04c;
    border: #d6a04c;
    height: 20vh;
    width: 40%;
    top: 89%;
    left: 14.99%;
    z-index: 99;
    transition: 0.6s;
}

#inf_projects>h3 {
    position: relative;
    display: inline-block;
    top: 20%;
    left: 8%;
    font-size: 32px;
    transition: 0.5s;
}

#inf_projects>p {
    position: absolute;
    display: inline-block;
    top: 70%;
    left: 8%;
    font-size: 14px;
}

#btn_projects {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #daaa5e;
    border-radius: 50%;
    left: 86%;
    top: 35%;
    transition: 0.6s;
}

#btn_projects>img {
    position: relative;
    display: inline-block;
    width: 35%;
    left: 30%;
    top: 30%;
}

#inf_projects:hover {
    background-color: #222222;

    h3 {
        color: #daaa5e;
    }

    #btn_projects {
        background-color: #d6a04c;
    }

}

#titulo_3 {
    display: inline-block;
    position: relative;
    top: -96%;
    font-size: 200px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #E9E3D9;
    margin: 0;
    line-height: 1;
    margin-top: 6%;
    margin-left: 16%;
    font-family: "Cabin", sans-serif;
    z-index: 1;
}

#projects1 {
    display: inline-block;
    position: relative;
    width: 70%;
    top: 5.8%;
    left: 15%;
    z-index: 2;
}

#rodape {
    margin-top: 60%;
    position: absolute;
    background-color: #1e1e1e;
    border: #1e1e1e solid 1px;
    width: 100%;
    height: 56%;
}

#logo_rodape {
    display: inline-block;
    position: absolute;
    margin-top: 7%;
    margin-left: 16.2%;
}

#bloco1_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 27%;
    font-size: 20px;
}

.links1 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 40%;
    list-style: none;
    text-decoration: none;
}

.links2 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 48%;
    list-style: none;
}

.links3 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 56%;
    list-style: none;
}

.links4 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 64%;
    list-style: none;
}

#bloco2_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 40%;
    font-size: 20px;
}

.links5 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 40%;
    list-style: none;
}

.links6 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 48%;
    list-style: none;
}

.links7 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 56%;
    list-style: none;
}

#bloco3_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 62%;
    font-size: 20px;
}

#bloco3_rodape>p {
    display: inline-block;
    position: absolute;
    left: 62%;
    top: 37%;
    font-family: "Questrial", sans-serif;
    color: #545454;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;

}

#bloco3_rodape>input {
    display: inline-block;
    position: absolute;
    width: 18%;
    height: 60px;
    padding: 10px 20px;
    border: 0;
    border-radius: 6px 0px 0px 6px;
    color: #5C6168;
    background: #fff;
    left: 62%;
    top: 48%;
    z-index: 99;
}

#bloco3_rodape>button {
    position: absolute;
    border: 0;
    cursor: pointer;
    padding: 30px 40px;
    line-height: 1;
    border-radius: 0 6px 6px 0;
    background: #D6A04C;
    left: 80%;
    top: 48%;
}

#bloco3_rodape>button>img {
    display: inline-block;
    position: absolute;
    left: 38%;
    top: 35%;
}

#facebook {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 62%;
    transition: 0.5s ease-in-out;
}

#facebook:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#instagram {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 65%;
    transition: 0.5s ease-in-out;
}

#instagram:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#linkedin {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 68%;
    transition: 0.5s ease-in-out;
}

#linkedin:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#youtube {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 71%;
    transition: 0.5s ease-in-out;
}

#youtube:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

  #facebook_menu {
     position: absolute;
     display: inline-block;
     background-color: white;
     width: 6%;
     border-radius: 50%;
     top: 77%;
     left: 27%;
     transition: 0.5s ease-in-out;
 }

 #facebook_menu:hover {
     background-color: #D6A04C;
     transform: rotateY(180deg);
 }

 #instagram_menu {
     position: absolute;
     display: inline-block;
     background-color: white;
     width: 6%;
     border-radius: 50%;
     top: 77%;
     left: 39%;
     transition: 0.5s ease-in-out;
 }

 #instagram_menu:hover {
     background-color: #D6A04C;
     transform: rotateY(180deg);
 }

 #linkedin_menu {
     position: absolute;
     display: inline-block;
     background-color: white;
     width: 6%;
     border-radius: 50%;
     top: 77%;
     left: 51%;
     transition: 0.5s ease-in-out;
 }

 #linkedin_menu:hover {
     background-color: #D6A04C;
     transform: rotateY(180deg);
 }

 #youtube_menu {
     position: absolute;
     display: inline-block;
     background-color: white;
     width: 5%;
     border-radius: 50%;
     top: 77%;
     left: 63%;
     transition: 0.5s ease-in-out;
 }

 #youtube_menu:hover {
     background-color: #D6A04C;
     transform: rotateY(180deg);
 }